@use 'sass:color';
@use '../../variables' as theme;

.mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    background-color: color.adjust(theme.$background, $lightness:5%);
  }

  .filler {
    background: theme.$background;
    height: 100%;
  }
}

