@use '../../_variables.scss' as theme;

$grid_gap: 20px;
.dropzone {
  height: 100%;
}

.image-gallery {
  background: theme.$background;
  display: flex;
  flex-flow: column;
  height: 100%;

  h1 {
    background: theme.$background;
    margin: 0 0 0 0;
    padding-top: 20px;
    text-align: center;
    font-family: "Teko", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: lightgrey;
    height: 40px;
  }

  .image-grid {
    padding: $grid_gap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $grid_gap;
    background: theme.$background;
  }
}
