@use '../../_variables.scss' as theme;

.bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  color: lightgrey;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 10px;

  mat-icon {
    font-size: 16px;
    height: 18px;
    width: 18px;
  }

  .status {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    margin: 1px 6px;

    .ok {
      color: #3f753c;
    }

    .error {
      color: rgba(165, 91, 18);
    }
  }

  .message {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    button {
      --mdc-icon-button-state-layer-size: 22px !important;
      --mdc-icon-button-icon-size: 18px;
    }

    .info-message {
      background-color: rgba(211, 211, 211, 0.50);
    }

    .error-message {
      background-color: rgba(165, 91, 18, 0.82);
    }

    .message-content {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      padding: 2px 6px;

      min-width: 150px;
      text-align: center;
    }
  }

  .stats {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    border-radius: 6px;
    margin: 2px;
    padding: 2px 6px;
    background-color: #3c6675;
  }
}
