<div class="login-form-container">

  <div class="form-elements">
    <h2>Image Reference Login</h2>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput
             [(ngModel)]="email"
             (keyup)="onUsernameKeyUp($event)"
      />
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput #pass
             [type]="hide() ? 'password' : 'text'"
             [(ngModel)]="password"
             (keyup)="onPasswordKeyUp($event)"
      />
      <button
        class="reveal-password-button"
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
    </mat-form-field>
    @if (error_text() != '') {
      <div class="error">
        <mat-icon fontIcon="error"></mat-icon>
        <span>{{ error_text() }}</span>
      </div>
    }
    <button mat-raised-button class="login-button" (click)="doLogin()">Login</button>

  </div>

</div>
