@use '@angular/material' as mat;

h2 {
  text-align: center;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

// // Customize the entire app. Change :root to your selector if you want to scope the styles.
// :root {
//   @include mat.dialog-overrides((
//     container-color: orange,
//     subhead-color: red,
//   ));
// }