@use '../../variables' as theme;

$grid_gap: 20px;
.dropzone {
  height: 100%;
}

.image-gallery {
  background: theme.$background;
  display: flex;
  flex-flow: column;
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: theme.$background;
    margin: 0 0 0 0;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    color: theme.$text-color;

    .spacer{
      min-width: 2ch;
    }

    .text {
      font-family: "Teko", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 2rem;
    }
  }

  .image-grid {
    padding: $grid_gap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $grid_gap;
    background: theme.$background;
  }
}
