<div class="dropzone" appDragDrop (files)="filesDropped($event)">
  <div class="image-gallery" >
    <div class="header">
      <span class="text">{{ title() }}</span>
      @if (totalImageCount()) {
        <span class="spacer"></span>
        ({{totalImageCount()}}) images
      }
      <span class="spacer"></span>
      <button mat-icon-button
              (click)="onDownload()"
              class="dl-button"
              matTooltip="Download images"
      >
        <mat-icon fontIcon="download"></mat-icon>
      </button>
      @if (downloadService.busy()) {
        <mat-spinner class="spinner"></mat-spinner>
      }
      <button mat-icon-button
              (click)="onIntegrity()"
              class="integrity-button"
              matTooltip="Run an integrity check"
      >
        <mat-icon fontIcon="verified"
                  [ngClass]="{
                      'no-errors': integrityService.completed() && integrityService.errorCount() === 0,
                      'errors-present': integrityService.completed() && integrityService.errorCount() > 0,
                      }"
        ></mat-icon>
      </button>
      @if (integrityService.busy()) {
        <mat-spinner class="integrity-spinner"></mat-spinner>
      }
    </div>
    @if (uploading()) {
      <h3 class="upload-heading">Uploading {{uploadTotalCount()}} Images</h3>
      <mat-progress-bar mode="determinate"
                        [value]="uploadPercentage()"
                        class="upload-progress"
      />
    } @else {
      <div class="image-grid">
        @for (liveImage of images(); track liveImage.reference.id; let index = $index) {
          <app-image-card #img
                          [imageSource]=liveImage
                          [tagCountFrom]="mode === 'tag' ? 2 : 1"
                          [loadImmediately]="index < loadBudget"
                          (imageDeleted)="deleteImageOrTag($event)"
                          (loadComplete)="onLoadComplete()"
          />
        }
      </div>
    }
  </div>
</div>
