<div class="dropzone" appDragDrop (files)="filesDropped($event)">
  <div class="image-gallery" >
    <div class="header">
      <span class="text">{{ title() }}</span>
      @if (totalImageCount()) {
        <span class="spacer"></span>
        ({{totalImageCount()}}) images
      }
      <span class="spacer"></span>
      @defer {
        <app-zip-downloader [images]="images" [fileName]="mode === 'tag' ? optTagName() : mode" />
      }
    </div>
    <div class="image-grid">
      @for (liveImage of images(); track liveImage.reference.id; let index = $index) {
        <app-image-card #img
          [imageSource]=liveImage
          [tagCountFrom]="mode === 'tag' ? 2 : 1"
          [loadImmediately]="index < loadBudget"
          (imageDeleted)="deleteImageOrTag($event)"
          (loadComplete)="onLoadComplete()"
        />
      }
    </div>
  </div>
</div>
