<div class="dropzone" appDragDrop (files)="filesDropped($event)">
  <div class="image-gallery" >
    <div class="header">
      <span class="text">{{ title() }}</span>
      <span class="spacer"></span>
      <app-zip-downloader [images]="images" [fileName]="mode === 'tag' ? optTagName() : mode" />
    </div>
    <div class="image-grid">
      @for (liveImage of images(); track liveImage.reference.id) {
        <app-image-card
          [imageSource]=liveImage
          [tagCountFrom]="mode === 'tag' ? 2 : 1"
          (imageDeleted)="deleteImageOrTag($event)"
        />
      }
    </div>
  </div>
</div>
