<div class="tag-list">
	<mat-form-field appearance="outline">
		<mat-label>Search for a tag</mat-label>
		<input 
			matInput 
			placeholder="..."
			[formControl]="searchText"
		/>
		<mat-icon matSuffix>search</mat-icon>
	</mat-form-field>
	@if ( enableCreateButton$ | async ) {
		<div class="create-button">	
			<button mat-stroked-button (click)="createTag()">Create {{searchText.value}}</button>
		</div>
	}

	<mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Cutest dog breeds">
	  	@for (liveTag of tags$ | async; track liveTag) {
	    	<mat-chip-option>{{liveTag.name}}</mat-chip-option>
	  	}
	</mat-chip-listbox>

</div>