@use '../../variables' as theme;

.tag-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

	mat-form-field {
		margin: 0.6em;
	}

	.create-button {
    background-color: rgba(theme.$btn-highlight-color, 0.5);
		font-family: Roboto, sans-serif;
	}

	mat-chip-listbox {
    max-width: 32ch;
    padding: 0.3em;
    margin: 1ch 1ch;
	}

}

