body {

	.flex-container{
		display: flex;
		flex-flow: column;
    height: 100%;

		.header {
      padding: 2px;
			flex: 0 0 auto;
		}

		.content {
      padding: 2px;
			flex: 1 1 auto;
      overflow-y: auto;

		}
	}

	mat-toolbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

		--mat-toolbar-container-text-color: lightgrey;
		--mat-toolbar-container-background-color: #1d3141;

		.toolbar-spacer {
			flex: 1 1 auto;
		}

    .key-status{
      display: flex;
      padding-right: 10px;
    }

		.app-name {
			font-size: 150%;
      font-family: "Teko", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      margin-left: 20px;
		}

		button {
      margin-right: 20px;
			--mdc-protected-button-label-text-color: #ff4081bf;
		}
	}

  app-status-bar {
    flex: 0 0 auto;
    padding: 0.2rem;
    background-color: #1d3141;
  }
}
