<html>
<body>
  <div class="flex-container">
    <mat-toolbar class="header">
      <span class="app-name">Image Reference</span>
      <span class="toolbar-spacer"></span>
      <span class="key-status">
         @if ( (encryption.currentState$ | async) == encryption.ReadyStateReady() ) {
            <mat-icon fontIcon="lock_open"></mat-icon>
        } @else {
          <button mat-icon-button class="key-status-button" (click)=encryption.debugme()>
            <mat-icon fontIcon="lock"></mat-icon>
          </button>
        }
      </span>
      <app-set-preferences></app-set-preferences>
      <button mat-raised-button color="primary" (click)="doLogOut()">Log Out</button>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
</html>
