<html>
<body>
  <div class="flex-container">
    @if (auth.currentUser !== null) {
      <mat-toolbar class="header">
        <span class="app-name">Image Reference</span>
        <mat-button-toggle-group class="navigation" name="navigation" aria-label="navigation">
          <mat-button-toggle value="latest"
                             routerLink="/images/latest"
                             routerLinkActive="mat-button-toggle-checked"
                             matTooltip="See latest images"
          >Latest</mat-button-toggle>
          <mat-button-toggle value="untagged"
                             routerLink="/images/inbox"
                             routerLinkActive="mat-button-toggle-checked"
                             matTooltip="See images without tags"
          >Untagged</mat-button-toggle>
          <mat-button-toggle value="tags"
                             routerLink="/tags"
                             routerLinkActive="mat-button-toggle-checked"
                             matTooltip="See list of tags"
          >Tags</mat-button-toggle>
        </mat-button-toggle-group>
        <span class="toolbar-spacer"></span>
        <span class="key-status">
          <button mat-icon-button class="key-status-button" (click)="toggleEncryption()" 
                  [matTooltip]="encryption.state() == EncryptionState.Ready ? 'Clear passphrase' : 'Enter passphrase'">
            <mat-icon [fontIcon]="encryption.state() == EncryptionState.Ready ? 'lock_open' : 'lock'"></mat-icon>
          </button>
        </span>
        <app-set-preferences></app-set-preferences>
        <button mat-icon-button
                (click)="doLogOut()"
                matTooltip="Log out">
          <mat-icon fontIcon="logout"/>
        </button>
      </mat-toolbar>
    }
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    @if (auth.currentUser !== null) {
      <app-status-bar></app-status-bar>
    }
  </div>
</body>
</html>
