<mat-card class="image-card">
  @defer ( when (thumbnailUrl().length > 0) ){
    <img mat-card-image [src]="thumbnailUrl()" alt="Image" draggable="false">
  }
  @placeholder {
    <div style="display: flex; height: 200px; width:200px; justify-content: center; align-items: center;">
      <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>

  }
	<mat-card-actions align='end' class="image-actions">
		<button mat-icon-button
            [matBadge]="getImageTags().length"
            [matBadgeHidden]="getImageTags().length < tagCountFrom"
            (click)="manageTags()"
    >
			<mat-icon fontIcon="list"></mat-icon>
		</button>
    @if ( showTagSelection() ) {
      <app-tag-select
        class="tag-list-selection"
        [selectedTags]="getImageTags()"
        (selectionChange)="onSelectionChange($event)"
      />
    }
		<button mat-icon-button
            (click)="onDownload()"
            [disabled]="!fullUrlAvailable()">
			<mat-icon fontIcon="download"></mat-icon>
		</button>
		<button mat-icon-button (click)="onDelete()">
			<mat-icon fontIcon="delete"></mat-icon>
		</button>
	</mat-card-actions>
</mat-card>
