.image-card {
	img {
		object-fit: contain;
		height: 200px;
	}
	button {
		transform: scale(0.8);
	}
	mat-chip {
		margin: 5px;
	}

  .image-actions {
    anchor-name: --image-actions;
  }

  .tag-list-selection {
    position: absolute;
    z-index: 1;
    position-anchor: --image-actions;
    position-area: bottom;
  }
}
