<mat-card class="image-card" appSelectable [imageSource]="imageSource">
  @defer ( when (thumbnailUrl().length > 0) ){
    <img mat-card-image [src]="thumbnailUrl()" alt="Image" draggable="false">
  }
  @placeholder {
    <div style="display: flex; height: 200px; width:200px; justify-content: center; align-items: center;">
      <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>

  }
	<mat-card-actions align='end' class="image-actions">
    <button mat-icon-button
            matTooltip="Show full size"
            (click)="onFullSize()"
            >
      <mat-icon fontIcon="image"></mat-icon>
    </button>
		<button mat-icon-button
            matTooltip="Manage image tags"
            [matBadge]="imageSource.tags.length"
            [matBadgeHidden]="imageSource.tags.length < tagCountFrom"
            (click)="manageTags()"
    >
			<mat-icon fontIcon="list"></mat-icon>
		</button>
    @if (imageTagService.recentOperations().length > 0) {
      <button mat-icon-button
              [matTooltip]="lastTagsText()"
              matTooltipClass="multiline-tooltip"
              (click)="onAddLast()"
      >
        <mat-icon fontIcon="post_add"></mat-icon>
      </button>
    }
    @if ( showTagSelection() ) {
      <app-tag-select
        class="tag-list-selection"
        [selectedTags]="imageTagNames()"
        (selectionChange)="onSelectionChange($event)"
        (opened)="onSelectionOpen()"
      />
    }
		<button mat-icon-button
            matTooltip="Download this image"
            (click)="onDownload()"
            [disabled]="!fullUrlAvailable()">
			<mat-icon fontIcon="download"></mat-icon>
		</button>
		<button mat-icon-button
            matTooltip="Delete this image"
            (click)="onDelete()">
			<mat-icon fontIcon="delete"></mat-icon>
		</button>
	</mat-card-actions>
</mat-card>
